# @duetto scoped packages come from Artifactory; everything else uses npmjs
@duetto:registry=https://duetto.jfrog.io/duetto/api/npm/duetto-js
//duetto.jfrog.io/duetto/api/npm/:_authToken=${artifactory_npm_auth_token}
legacy-peer-deps=true
